.product-detail-container {
  display: flex;
  padding: 25px;
  padding-left: 200px;
  background-color: rgb(223, 244, 237);
  min-height: 900px;
  max-height: 100%;
}

.product-detail {
  display: flex;
  background-color: aliceblue;
  padding: 38px;
  width: 1050px;
  height: 789px;
  padding-top: 33px;
  padding-left: 25px;
}

.product-images {
  display: flex;
}

.main-image {
  width: 390px;
  height: 500px;
}

.product-info {
  margin-left: 55px;
  padding-top: 32px;
}

.product-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.real-price {
  text-decoration: line-through;
  color: red;
}

.offer-price {
  font-size: 20px;
  color: green;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantity-controls button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 0 10px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.add-to-wishlist,
.add-to-cart,
.buy-now {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-to-wishlist {
  background-color: #68996a;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #18cd1f;
  margin-bottom: 10px;
  height: 45px;
  width: 100%;
  padding-left: 210px;
}

.buy-now {
  background-color: #18cd1f;
  height: 45px;
  width: 100%;
  padding-left: 230px;
}

.add-to-wishlist:hover {
  background-color: darkred;
}

.add-to-cart:hover {
  background-color: darkblue;
}

.buy-now:hover {
  background-color: darkgreen;
}
