
  
  .header {
    height: 29vw;
    background: url(/src/assets/Home.png) no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  
  .header-contents {
    position: absolute;
    left: 5vw; /* Adjust as needed */
    color: white;
    max-width: 50%; 
    animation: fadeIn 3s;
  }
  
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw; /* Adjust vertical gap */
  }
  
  .header-title {
    font-weight: 700;
    font-size: max(4.5vw, 22px);
    color: aliceblue;
  }
  
  .header-subtitle {
    font-size: max(1vw, 13px);
    color: rgb(236, 225, 225);
    line-height: 1.5;
    max-width: 70%;
  }
  
  .header-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px; /* Adjust spacing */
  }
  
  .header-button-buy-now {
    border: 2px solid var(--navbar-bg-color);
    border-radius: 50px;
    padding: 1vw 2.3vw; /* Adjust button padding */
    font-size: max(1vw, 13px);
    font-weight: 500;
    background-color: white;
    color: #dbab7c;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .header-button-buy-now:hover {
    background-color: green;
    color: white;
  }
  
